body {
  font-family: 'Playfair Display', serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: #333;
  height: 300px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/advbg.jpg') center/cover no-repeat;
  filter: blur(8px);
  opacity: 0.7;
  pointer-events: none;
}

.adventure-heading {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

nav ul {
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #333;
  min-width: 160px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 10px;
}

.dropdown-content a:hover {
  background-color: #555;
}




footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  text-align: center;
}

.category {
  text-align: center;
}

.category-box {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.game-box {
  font-family: 'Playfair Display', serif;
  width: 30%;
  border: 1px solid #1B2533;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  background: linear-gradient(to bottom, #1B2533, #115CFF);
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease;
}

.game-box img {
  max-width: 100%;
  height: auto;
}

.game-box a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.game-box:hover a {
  color: red;
}

.game-box.liesofp {
  background: linear-gradient(to bottom, #1B1B21, #627B8B);
}

.game-box:hover.game-box.liesofp {
  background: linear-gradient(to bottom, #627B8B, #1B1B21);
}

.game-box.seaofthieves {
  background: linear-gradient(to bottom, #B28051, #749BA4);
}

.game-box:hover.game-box.seaofthieves {
  background: linear-gradient(to bottom, #749BA4, #B28051);
}

.game-box.newworld {
  background: linear-gradient(to bottom, #4D1A1B, #A34E3C);
}

.game-box:hover.game-box.newworld {
  background: linear-gradient(to bottom, #A34E3C, #4D1A1B);
}

.game-box.hogleg {
  background: linear-gradient(to bottom, #364549, #626D6E);
}

.game-box:hover.game-box.hogleg {
  background: linear-gradient(to bottom, #626D6E, #364549);
}

.game-box.lordfall {
  background: linear-gradient(to bottom, #445668, #934D35);
}

.game-box:hover.game-box.lordfall {
  background: linear-gradient(to bottom, #934D35, #445668);
}

.game-box.starwar {
  background: linear-gradient(to bottom, #724B4F, #695E9E);
}

.game-box:hover.game-box.starwar {
  background: linear-gradient(to bottom, #695E9E, #724B4F);
}

.game-box.reddead {
  background: linear-gradient(to bottom, #770A0E, #C50C11);
}

.game-box:hover.game-box.reddead {
  background: linear-gradient(to bottom, #C50C11, #770A0E);
}

.game-box.spiderman {
  background: linear-gradient(to bottom, #460104, #6C0406);
}

.game-box:hover.game-box.spiderman {
  background: linear-gradient(to bottom, #6C0406, #460104);
}