body {
  font-family: 'Oswald', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: #333;
  height: 300px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/stratbg.jpg') center/cover no-repeat;
  filter: blur(8px);
  opacity: 0.7;
  pointer-events: none;
}

.strat-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

nav ul {
  list-style: none;
  padding: 0;
  position: relative;
  z-index: 1;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #333;
  min-width: 160px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 10px;
}

.dropdown-content a:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer {
  padding: 60px;
  text-align: center;
  background: #1B2533;
  color: white;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.category-box {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.game-box {
  font-family: 'Oswald', sans-serif;
  width: 30%;
  border: 1px solid #1B2533;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  background: linear-gradient(to bottom, #1B2533, #115CFF);
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease;
}

.game-box img {
  max-width: 100%;
  height: auto;
}

.game-box a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.game-box:hover a {
  color: red;
}

.game-box.age-empire {
  background: linear-gradient(to bottom, #241D1E, #614632);
}

.game-box:hover.game-box.age-empire {
  background: linear-gradient(to bottom, #614632, #241D1E);
}

.game-box.starii {
  background: linear-gradient(to bottom, #2B3C53, #7F95A4);
}

.game-box:hover.game-box.starii {
  background: linear-gradient(to bottom, #7F95A4, #2B3C53);
}

.game-box.stell {
  background: linear-gradient(to bottom, #8C6C66, #D6A17F);
}

.game-box:hover.game-box.stell {
  background: linear-gradient(to bottom, #D6A17F, #8C6C66);
}

.game-box.dota {
  background: linear-gradient(to bottom, #401F1E, #1F3D5E);
}

.game-box:hover.game-box.dota {
  background: linear-gradient(to bottom, #1F3D5E, #401F1E);
}

.game-box.sid {
  background: linear-gradient(to bottom, #DDBC89, #A47445);
}

.game-box:hover.game-box.sid {
  background: linear-gradient(to bottom, #A47445, #DDBC89);
}

.game-box.heart {
  background: linear-gradient(to bottom, #1D1712, #413328);
}

.game-box:hover.game-box.heart {
  background: linear-gradient(to bottom, #413328, #1D1712);
}

.game-box.hell {
  background: linear-gradient(to bottom, #111215, #323331);
}

.game-box:hover.game-box.hell {
  background: linear-gradient(to bottom, #323331, #111215);
}

.game-box.counter {
  background: linear-gradient(to bottom, #6E6B59, #9A9981);
}

.game-box:hover.game-box.counter {
  background: linear-gradient(to bottom, #9A9981, #6E6B59);
}